/* Normalize */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
html {
    font-size: 62.5%;
}

/* Checkout */
#noscript, #is-explorer {
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white;
    font-size:2rem;
    display:flex;
    justify-content: center;
    align-items:center;
}

body {
    background: rgb(27 27 30);
    overflow: hidden;
    pointer-events: none;
}

/* Wrap */
#wrap {
    margin:0 auto;
    max-width:900px;

    position: relative;
    min-height: 100vh;
}

/* Header */
#header {
    position: fixed;
    z-index:1;
    top:0;
    left:0;

    width:100%;
    height:50px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 7%);
    background:rgb(39 40 43);
    color:rgb(175 176 177);

    cursor: pointer;
}
#header .header-wrap {
    position: relative;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 50px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
#header .menu {
    width: 18px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-flow: column;
    cursor: pointer;
}
#header .line {
    width: 100%;
    height: 2px;
    background: rgb(175 176 177);
}
#header .title {
    font-size: 1.6rem;
    font-weight: 600;
    
    cursor: pointer;
}
#header .search-form {
    position: absolute;
    top:0;
    right:50px;

    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    background:transparent;
    height: 50px;

    transition: width .3s, background .9s;
}
#header .search-input {
    position: relative;
    width: 80%;
    height: 30px;
    border: 0;
    border-radius: 21px;
    outline: none;
    text-align: center;
}
#header .search-articles {
    position: relative;
    width: 20px;
    height: 20px;
}
#header .search-articles .magnifier-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 3px solid #999;
    border-radius: 100%;
}
#header .search-articles .magnifier-grip {
    position: absolute;
    bottom: 0;
    right: 3px;
    height: 9px;
    width: 4px;
    background: #999;
    transform: rotate(-45deg);
    border-radius: 5px;
}

/* Article */
#article {
    padding: 70px 15px;
}
#article .title {
    font-size: 1.6rem;
    line-height: 2;
    color:rgb(138 180 248);
}
#article .title:hover {
    color: #d2603a;
    border-bottom: 1px solid #d2603a;
}
#article .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    font-size:1.3rem;
    line-height: 2;
    color:rgb(175 176 177);
}
#article .datetime {
    font-size:1.1rem;
    line-height: 3;
    color:#6c757d;
}
#article li {
    border-bottom: 1px solid rgb(44 45 45);
    padding-top: 15px;
    padding-bottom: 25px;
}

/* Rotate Animation */
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#rotate-wrap {
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px auto 0;
    width: 100%;
    height: 100%;
    /* height: calc(100% - 120px); */
    background: rgba(27, 27, 30, 0.7);
}
#rotate-wrap #spin-object {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - (60px/2));
    width: 60px;
    height: 60px;
    border-width: 10px;
    border-style: inset;
    border-color:rgb(175 176 177);
    border-radius: 100%;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Pagination */
#pagination {
    margin: 50px 0;
}
#pagination button {
    display: inline-block;
    width: 100%;
    background: rgb(28 52 94);
    border: 0;
    box-shadow: 0 0 8px 0 rgb(27 27 30);
    border-color:rgb(66 94 138);
    font-size: 1.4rem;
    line-height: 3;
    outline: none;
    cursor:pointer;
    color:rgb(175 176 177);
}

/* Footer */
#footer {
    position: absolute;
    bottom:0;
    left:0;
    width:calc(100% - 30px);
    margin: 0 15px;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;

    height: 70px;
    border-top: 1px solid rgb(44 45 45);
    font-size:1.2rem;
    color:#7a7b7d;
}
#footer a {
    color: rgb(171 171 171);
}
#footer a:hover {
    color: #d2603a;
    border-bottom: 1px solid #d2603a;
}

/* Content */
#content {
    padding: 70px 15px;
    color:rgb(175 176 177);
}
#content .title {
    font-size:2rem;
    line-height: 2;
    margin-top: 15px;
}
#content .datetime {
    font-size:1.2rem;
    line-height: 2;
    margin-bottom:40px;
}
#content .explain {
    font-size:1.6rem;
    line-height:1.5;
    margin-bottom: 60px;
}
#content .explain h1 {
    font-size:1.6rem;
    margin-bottom:16px;
}
#content .explain a {
    color:rgb(138 180 248);
    border-bottom: 1px solid rgb(82 108 150);
}
#content .explain a:hover {
    color:#d2603a;
    border-bottom: 1px solid #d2603a;
}
#content .explain code {
    color: #de6b18;
    background-color: #272822;
    border-radius: 4px;
    padding: 5px;
}
#content .explain pre {
    width: 100%;
    overflow-x: auto;
    white-space: pre-line;
    padding: 15px;
    background-color:#272822;
    color:#818c96;
    margin-bottom:16px;
}
#content .explain table {
    margin-bottom:16px;
}
#content .explain p {
    margin-bottom:16px;
}
#content .explain hr {
    margin-bottom:16px;
}
#content .explain ul {
     margin-bottom:16px;
}
#content .explain li {
    list-style: disc inside;
    font-size:1.5rem;
}
#content .explain table, 
#content .explain td, 
#content .explain th {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: middle;
    padding: 2px 20px;
    font-size:1.5rem;
}