/* Normalize */
*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;list-style:none;text-decoration:none;}
html{font-size: 62.5%;}

/* Scrollbar */
body::-webkit-scrollbar {width: 8px;height: 0;}
body::-webkit-scrollbar-track {background-color: transparent;}
body::-webkit-scrollbar-thumb {border-radius: 0;background-color: gray;}
body::-webkit-scrollbar-button {width: 0;height: 0;}

/* Check */
#noscript,#internetexplorer{position:fixed;z-index:9999;top:0;left:0;width:100%;height:100%;background:white;font-size:2rem;display:flex;justify-content:center;align-items:center;}
  

/* Day & Night theme : white color */
body#day-theme { background:white !important; }
#day-theme #header { background: white !important; color: rgb(78 78 78) !important; }
#day-theme #header .line { background: #999 !important; }
#day-theme #post-list .title { color: #2a408e !important; }
#day-theme #post-list .content { color: dimgrey !important; }
#day-theme #pagination .more-button { background:lightgray !important; color:white !important; }
#day-theme #post-list li { border-bottom: 1px solid #f3f3f3 !important; }
#day-theme #footer { border-top:1px solid #f3f3f3 !important; }
#day-theme #footer a { color: #424242 !important; }
#day-theme #content { color:#333 !important; }
#day-theme #content .datetime { color:#6c757d !important; }
#day-theme #content .explain pre { background-color: #f7f7f7 !important; color: #212529 !important; }
#day-theme #content .explain code { color: #353a3d !important; background-color: #f3f3f3 !important; }
#day-theme #content .explain pre::-webkit-scrollbar-thumb {background-color: lightgray !important;}
#day-theme #content .explain a { color: #2a408e !important; border-bottom: 1px solid #dee2e6 !important; }
#day-theme #wrap .open-menu {background: rgba(255,255,255,1) !important;}
#day-theme #wrap .open-menu .menu-list li {color:#4e4e4e !important;}
/* end of theme */


body {
    background: rgb(27 27 30);
    overflow: hidden;
    pointer-events: none;
}

/* Wrap */
#wrap {
    margin:0 auto;
    max-width:900px;
    position: relative;
    min-height: 100vh;
}
#wrap .open-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27,27,30,1);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    transition: opacity .3s, visibility .3s;
}
#wrap .open-menu .menu-list {
    text-align: center;
}
#wrap .open-menu .menu-list li {
    color:white;
    font-size: 3rem;
    line-height: 2;
}

/* Header */
#header {
    position: fixed;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:47px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 7%);
    background:rgb(39 40 43);
    color:rgb(175 176 177);
    cursor: pointer;
}
#header .header-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 18px;
}
#header .menu {
    width: 15px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-flow: column;
    cursor: pointer;
}
#header .line {
    width: 100%;
    height: 2px;
    border-radius: 15px;
    background: rgb(175 176 177);
}
#header .title {
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
#header .search-form {
    position: absolute;
    overflow:hidden;
    top:0;
    right:47px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background:transparent;
    height: 47px;
    transition: width .3s, background-color .9s;
}
#header .search-input {
    position: relative;
    width: 80%;
    height: 30px;
    border-color: transparent;
    border-radius: 21px;
    outline: none;
    text-align: center;
    transition: border-color .5s;
}
#header .search-posts {
    position: relative;
    width: 15px;
    height: 15px;
}
#header .search-posts .magnifier-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    border: 2px solid #999;
    border-radius: 100%;
}
#header .search-posts .magnifier-grip {
    position: absolute;
    bottom: 0;
    right: 3px;
    height: 7px;
    width: 2px;
    background: #999;
    transform: rotate(-45deg);
    border-radius: 5px;
}

/* Post list */
#post-list {
    padding: 70px 18px;
}
#post-list .title {
    font-size: 2.1rem;
    line-height: 2;
    color:rgb(138 180 248);
}
#post-list .title:hover {
    color: #d2603a;
    border-bottom: 1px solid #d2603a;
}
#post-list .content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size:1.4rem;
    line-height: 2.2;
    color:rgb(175 176 177);
    margin-top:5px;
}
#post-list .datetime {
    font-size:1.2rem;
    line-height: 3;
    color:#6c757d;
    margin-top:5px;
}
#post-list li {
    border-bottom: 1px solid rgb(44 45 45);
    padding-top: 10px;
    padding-bottom: 11px;
    margin-bottom: 8px;
}

/* Rotate Animation */
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#rotate-wrap {
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    margin: 47px auto 0;
    width: 100%;
    height: 100%;
    /* height: calc(100% - 120px); */
    background: rgba(27, 27, 30, 0.7);
}
#rotate-wrap #spin-object {
    position: absolute;
    top: calc(50% - 80px);
    left: calc(50% - (60px/2));
    width: 60px;
    height: 60px;
    border-width: 10px;
    border-style: inset;
    border-color:rgb(175 176 177);
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Pagination */
#pagination {
    margin: 45px 0;
}
#pagination .more-button {
    display: block;
    width: 100%;
    background: rgb(28 52 94);
    border: 0;
    outline: none;
    cursor:pointer;
    border-radius: 5px;
    text-align: center;
    font-size:1.7rem;
    line-height: 2.6;
    color:rgb(175 176 177);
}

/* Footer */
#footer {
    position: absolute;
    bottom:0;
    left:0;
    width:calc(100% - 30px);
    margin: 0 18px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 70px;
    border-top: 1px solid rgb(44 45 45);
    font-size:1.2rem;
    color:#7a7b7d;
}
#footer a {
    color: rgb(171 171 171);
}
#footer a:hover {
    color: #d2603a;
    border-bottom: 1px solid #d2603a;
}

/* Content */
#content {
    padding: 70px 18px;
    color:rgb(175 176 177);
}
#content .title {
    font-size:2.1rem;
    line-height: 2;
    margin-top: 10px;
}
#content .datetime {
    font-size:1.2rem;
    line-height: 2;
    margin-bottom:40px;
    margin-top:10px;
}
#content .explain {
    font-size:1.6rem;
    line-height:1.7;
    margin-bottom: 60px;
}
#content .explain h1,
#content .explain h2,
#content .explain h3,
#content .explain h4,
#content .explain h5,
#content .explain h6 {
    font-size:1.8rem;
    margin-bottom:3.2rem;
}
#content .explain a {
    color:rgb(138 180 248);
    border-bottom: 1px solid rgb(82 108 150);
}
#content .explain a:hover {
    color:#d2603a;
    border-bottom: 1px solid #d2603a;
}
#content .explain code {
    color: #de6b18;
    background-color: #272822;
    border-radius: 4px;
    padding: 5px;
    font-size:1.5rem;
}
#content .explain pre {
    width: 100%;
    overflow-x: auto;
    padding: 15px;
    background-color:#272822;
    color:#818c96;
    margin-bottom:3.2rem;
    font-size:1.5rem
}
#content .explain pre::-webkit-scrollbar {width: 0;height: 8px;}
#content .explain pre::-webkit-scrollbar-track {background-color: transparent;}
#content .explain pre::-webkit-scrollbar-thumb {border-radius: 0;background-color: gray;}
#content .explain pre::-webkit-scrollbar-button {width: 0;height: 0;}
#content .explain table {
    margin-bottom:3.2rem;
}
#content .explain ul,
#content .explain ol {
    margin-bottom:3.2rem;
}
#content .explain ul li {
    list-style: disc inside;
    font-size:1.5rem;
}
#content .explain ol li {
    list-style: decimal inside;
    font-size:1.5rem;
}
#content .explain table, 
#content .explain td, 
#content .explain th {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: middle;
    padding: 2px 20px;
    font-size:1.5rem;
}