---
layout: default
---

<div class='o-wrapper'>
  <div class='o-grid'>
    {% for post in paginator.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>

<script>
  if (window.document.documentMode) {
    alert(
      'No longer supports this web browser.\n' 
      + 'I design to support the latest web browsers.\n'
      + 'I support the current versions of Chrome, Firefox, Safari, and Microsoft Edge.'
    );
  }
</script>