<section class='utteranc.es'>
  <script src="https://utteranc.es/client.js"
          repo="dnessi/dnessi.github.io"
          issue-term="url"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
<noscript>Please enable JavaScript to view the <a href='https://github.com/dnessi/dnessi.github.io/issues' rel='nofollow'>comments powered by utteranc.</a></noscript>
</section>

<script>
    switch (getCookie('DAYNIGHT')) {
      case 'DAY': 
        document.getElementsByClassName('utterances-frame')[0].src = "https://utteranc.es/utterances.html?src=https://utteranc.es/client.js&repo=dnessi/dnessi.github.io&issue-term=url&theme=github-light&crossorigin=anonymous&url={{ site.url }}{{ page.url }}&origin={{ site.url }}&pathname={{ page.url }}&title=Comments&descrption=Comments";
      break;
      case 'NIGHT': 
        document.getElementsByClassName('utterances-frame')[0].src = "https://utteranc.es/utterances.html?src=https://utteranc.es/client.js&repo=dnessi/dnessi.github.io&issue-term=url&theme=github-dark&crossorigin=anonymous&url={{ site.url }}{{ page.url }}&origin={{ site.url }}&pathname={{ page.url }}&title=Comments&descrption=Comments";
      break;
    }
</script>