<section class='utteranc.es'>
  <script>
    var utterancScript = document.createElement('script');
    var utterancTheme = 'github-light';

    utterancScript.setAttribute('src', 'https://utteranc.es/client.js');
    utterancScript.setAttribute('repo', 'dnessi/dnessi.github.io');
    utterancScript.setAttribute('issue-term', 'url');

    utterancTheme = getCookie('DAYNIGHT') === 'DAY' ? 'github-light' : 'github-dark';
    utterancScript.setAttribute('theme', utterancTheme);

    utterancScript.setAttribute('crossorigin', 'anonymous');
    utterancScript.setAttribute('async', true);

    document.getElementsByClassName('utteranc.es')[0].appendChild(utterancScript);
  </script>
  <noscript>
    Please enable JavaScript to view the 
    <a href='https://github.com/dnessi/dnessi.github.io/issues' rel='nofollow'>comments powered by utteranc.</a>
  </noscript>
</section>