<section class='disqus'>
  <div id='disqus_thread'></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.url}}';
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//jiwonov.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <style type="text/css">
    .recommend-wrapper { overflow: hidden; }
    .recommendations-wrapper .recommend-main .scroll-btn.scroll-left { left:10px; }
    .recommendations-wrapper .recommend-main .scroll-btn.scroll-right { right:10px; }
    .recommendations-wrapper .recommend-main .scroll-btn { border:0; }
  </style>
<noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript' rel='nofollow'>comments powered by Disqus.</a></noscript>
</section>