{% assign sorted_pages = site.pages | sort:'order' %}
{% for page in sorted_pages %}
  {% unless page.name == '404.md' %}
    {% if page.title %}

      <li class='c-nav__item' role='presentation'>
        <a class='c-nav__link' href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>

      {% if page.title == 'Tags' or page.title == 'Workout' or page.title == 'Roadmap' %}
        <li class='c-nav__item' role='presentation'>
          <a class='c-nav__link' href="javascript:void(0)">-</a>
        </li>
      {% endif %}

    {% endif %}
  {% endunless %}
{% endfor %}