/* normalize */
*,*::before,*::after {margin:0;padding:0;box-sizing:border-box;list-style:none;text-decoration:none;-webkit-tap-highlight-color:transparent;}
html {font-size: 62.5%;}
a,a:active,a:visited{color:inherit}
body {overflow: hidden;pointer-events: none;}
body::-webkit-scrollbar {width: 8px;}
body::-webkit-scrollbar-thumb {background-color: gray;}
#noscript,#internetexplorer {position: fixed;z-index: 2;top: 0;left: 0;width: 100%;height: 100%;background: white;font-size: 2rem;}
/* ---------- */

/* theme color black & white */
body {background: white;}
body#night-theme {background: #1b1b1e;}

#wrap .open-menu {background: white;}
#night-theme #wrap .open-menu {background: #1b1b1e;}

#wrap .open-menu .menu-list li {color: #4e4e4e;}
#night-theme #wrap .open-menu .menu-list li {color: white;}

#header {background: white;color: #4e4e4e;}
#night-theme #header {background: #27282b;color: #afb0b1;}

#header .line {background: #999;}
#night-theme #header .line {background: #afb0b1;}

#footer {border-top: 1px solid #f3f3f3;}
#night-theme #footer {border-top: 1px solid #2c2d2d;}

#footer a {color: #424242;}
#footer a:hover {color: #d2603a !important;border-bottom: 1px solid #d2603a !important;}
#night-theme #footer a {color: #ababab;}
/* ---------- */

/* common class */
.display-flex {display: flex;justify-content: center;justify-items: center;align-items: center;align-content: center;}
.width-100 {width: 100%;}
.height-100 {height: 100%;}
.position-fixed {position: fixed;}
.position-absolute {position: absolute;}
.position-relative {position: relative;}
.top-0 {top: 0;}
.left-0 {left: 0;}
.bottom-0 {bottom: 0;}
.margin-0-auto {margin: 0 auto;}
.cursor-pointer {cursor: pointer;}
/* ---------- */

/* common wrap */
#wrap {max-width: 700px;min-height: 100vh;}
#wrap .open-menu {z-index: 1;transition: opacity 0.3s, visibility 0.3s;}
#wrap .open-menu .menu-list {text-align: center;}
#wrap .open-menu .menu-list li {font-size: 3rem;line-height: 2;}
/* ---------- */

/* common header */
#header {z-index: 1;height: 47px;box-shadow: 0 3px 5px 0 rgb(0 0 0 / 7%);}
#header .header-wrap {justify-content: space-between;max-width: 700px;padding: 0 18px;}
#header .menu-button {width: 15px;height: 12px;justify-content: space-between;flex-flow: column;}
#header .line {height: 2px;border-radius: 15px;}
#header .title {font-size: 1.8rem;font-weight: 600;}
#header .search-form {overflow: hidden;right: 47px;background: transparent;height: 47px;transition: width 0.3s, background-color 0.9s;}
#header .search-input {width: 80%;height: 30px;border-color: transparent;border-radius: 21px;outline: none;text-align: center;transition: border-color 0.5s;}
#header .search-posts {width: 15px;height: 15px;}
#header .search-posts .magnifier-circle {width: 12px;height: 12px;border: 2px solid #999;border-radius: 100%;}
#header .search-posts .magnifier-grip {right: 3px;height: 7px;width: 2px;background: #999;transform: rotate(-45deg);border-radius: 5px;}
/* ---------- */

/* common footer */
#footer {width: calc(100% - 30px);height: 70px;margin: 0 18px;justify-content: space-between;font-size: 1.2rem;color: #7a7b7d;}
/* ---------- */