/* posts content */
#content {padding: 70px 18px;}
#content .title {font-size: 2.4rem;line-height: 2;margin-top: 3px;}
#content .info {display:inline-block;font-size: 1.3rem;line-height: 2;margin-bottom: 50px;margin-top: 6px;color: #6c757d;}
#content .explain {font-size: 1.6rem;line-height: 1.8;margin-bottom: 60px;}
#content .explain h1,#content .explain h2,#content .explain h3,#content .explain h4,#content .explain h5,#content .explain h6 {font-size: 1.8rem;margin-bottom: 1.8rem;}
#content .explain code {border-radius: 4px;padding: 5px;font-size: 1.5rem;}
#content .explain pre {overflow-x: auto;padding: 15px;margin-bottom: 3.2rem;font-size: 1.5rem;}
#content .explain pre::-webkit-scrollbar {height: 8px;}
#content .explain table,#content .explain ul,#content .explain ol,#content .explain p {margin-bottom: 3.2rem;}
#content .explain ul li {list-style: disc inside;font-size: 1.5rem;}
#content .explain ol li {list-style: decimal inside;font-size: 1.5rem;}
#content .explain table,#content .explain td,#content .explain th {border: 1px solid;border-collapse: collapse;vertical-align: middle;padding: 2px 20px;font-size: 1.5rem;}
/* ---------- */

/* theme color black & white */
#content {color: #333;}
#night-theme #content {color: #afb0b1;}

#content .explain pre {background-color: #f7f7f7;color: #212529;}
#night-theme #content .explain pre {background-color: #272822;color: #818c96;}

#content .explain code {color: #353a3d;background-color: #f3f3f3;}
#night-theme #content .explain code {color: #de6b18;background-color: #272822;}

#content .explain pre::-webkit-scrollbar-thumb {background-color: lightgray;}
#night-theme #content .explain pre::-webkit-scrollbar-thumb {background-color: gray;}

#content .explain a {color: #2a408e;border-bottom: 1px solid #dee2e6;}
#content .explain a:hover {color: #d2603a !important;border-bottom: 1px solid #d2603a !important;}
#night-theme #content .explain a {color: #8ab4f8;border-bottom: 1px solid #526c96;}
/* ---------- */