/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  color: $color-text;
  font-size: $font-size-base;
  font-family: $font-base;
  line-height: $line-height-base;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: $color-white;
  background: $color-brand;
}

@include mq($from: wide) {
  body {
    font-size: 17px;
    line-height: calc(17px * 1.7);
  }
}

@include mq($from: desktop) {
  body {
    font-size: 16px;
    line-height: calc(16px * 1.7);
  }
}

@include mq($from: tablet) {
  body {
    font-size: 15px;
    line-height: calc(15px * 1.7);
  }
}

@include mq($from: mobile) {
  body {
    font-size: 15px;
    line-height: calc(15px * 1.7);
  }
}