.day {
    #day-night {
        float: right;
        position: relative;
        top: 4px;
        right: 10px;
        height: 23px;
        width: 23px;
        cursor: pointer;
        /*background: no-repeat center/100% url('/assets/images/pages/daynight.svg');*/
    }
}