.day {
    #day-night {
        float: right;
        position: relative;
        top: 2px;
        z-index: 10;
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin-right: 15px;
        /*background: no-repeat center/100% url('/assets/images/pages/daynight.svg');*/
    }
}