<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class='day'>
  <div id="mIEssage" style="position:fixed;top:0;z-index:9999;display:none;width:100%;text-align:center;background:linear-gradient(#feefae,#fae692);font-size:14px;">
    <strong>No longer supports this web browser.</strong>
  </div>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/assets/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/assets/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/assets/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/assets/js/app.js' | prepend: site.baseurl }}">              </script>
</body>

</html>