<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class='day'>
  <script>
    // getCookie
    // return: String|undefined
    function getCookie(name) {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    switch (getCookie('DAYNIGHT')) {
      case 'DAY': 
        if (document.body.classList.contains('night')) {
          document.body.classList.remove('night');
          document.body.classList.add('day');

          let utterancScript = document.createElement('script');
          utterancScript.setAttribute('src', 'https://utteranc.es/client.js');
          utterancScript.setAttribute('repo', 'dnessi/dnessi.github.io');
          utterancScript.setAttribute('issue-term', 'url');
          utterancScript.setAttribute('theme', 'github-light');
          utterancScript.setAttribute('crossorigin', 'anonymous');
          utterancScript.setAttribute('async', true);

          document.getElementsByClassName('utteranc.es')[0].appendChild(utterancScript);
        }
      break;
      case 'NIGHT': 
        if (document.body.classList.contains('day')) {
          document.body.classList.remove('day');
          document.body.classList.add('night');

          let utterancScript = document.createElement('script');
          utterancScript.setAttribute('src', 'https://utteranc.es/client.js');
          utterancScript.setAttribute('repo', 'dnessi/dnessi.github.io');
          utterancScript.setAttribute('issue-term', 'url');
          utterancScript.setAttribute('theme', 'github-dark');
          utterancScript.setAttribute('crossorigin', 'anonymous');
          utterancScript.setAttribute('async', true);

          document.getElementsByClassName('utteranc.es')[0].appendChild(utterancScript);
        }
      break;
    }
  </script>

  <div id="mIEssage" style="position:fixed;top:0;z-index:9999;display:none;width:100%;text-align:center;background:linear-gradient(#feefae,#fae692);font-size:14px;">
    <strong>No longer supports this web browser.</strong>
  </div>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/assets/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/assets/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/assets/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/assets/js/app.js' | prepend: site.baseurl }}">              </script>
</body>

</html>