<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

  <div class="wrapper" id="wrappert">
    <noscript id="deferred-test">
      <!-- Styles -->
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    </noscript>
    <script>
        var loadDeferredStyles = function() {
          var addStylesNode = document.getElementById("deferred-test");
          var replacement = document.createElement("div");

          var wrappert = document.getElementById("wrappert");

          replacement.innerHTML = addStylesNode.textContent;
          wrappert.append(replacement);
          addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
            window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
      </script>
    {{ content }}
  </div>
  
  {% include analytics.html %}

  <!-- CSS 전송 최적화: https://developers.google.com/speed/docs/insights/OptimizeCSSDelivery -->
  <noscript id="deferred-styles">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </noscript>
  <script>
    var loadDeferredStyles = function() {
      var addStylesNode = document.getElementById("deferred-styles");
      var replacement = document.createElement("div");
      replacement.innerHTML = addStylesNode.textContent;
      document.body.appendChild(replacement);
      addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
  </script>
</body>
</html>
