---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
              <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">twitter</a>
              <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">facebook</a>
              <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">linkedin</a>
        </div>

        <hr>

        {% include comments.html %}

      </article>
    </div>
  </div>
</div>